/*Base styles*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color:orangered;
    background-color: rgb(254, 232, 160);
}

h1 {
    color: hsl(16, 100%, 40%);
    font-size: 1.75em;
    text-align: center;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
}

section {
    position: relative;
}

h2 {
    font-size: 1.25em;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    text-align: center;
    width: 120px;
    position: absolute;
    top: 0px;
    right: 10px;
}

p {
    color: white;
    background-color: orangered;
    border: 1px solid black;
    padding: 40px 10px 10px 10px;
    margin: 0 10px 20px 20px;
}

/* Mobile */
.row {
    width: 100%;
}

/* Tablets between 768px and 991px wide*/
@media (min-width:768px) and (max-width:991px) {
    .col-md-6 {
        float: left;
        width: 50%;
    }

    .col-md-12 {
        float: left;
        width: 100%;
    }
}

/* Desktop 992px wide and up */
@media (min-width:992px) {
    .col-lg-4 {
        float: left;
        width: 33%;
    }
}